# Node.js folders
/frontend/node_modules
/backend/node_modules

# Environment files
/backend/config.env
/frontend/config.env

# Logs and system files
*.log
.DS_Store
.env

# IDE settings 
.vscode/
.idea/
